.todo-list-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 15px;

  @media only screen and (min-width: 500px) {
    padding: 30px;
  }
}

.add-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 110px;

  @media only screen and (min-width: 500px) {
    flex-direction: row;
    margin-bottom: 30px;
    min-height: 45px;
    align-items: center;
  }
}

.list-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: scroll;
  margin-bottom: 50px;

  @media only screen and (min-width: 500px) {
    display: grid;
    grid-template-columns: 50% 49%;
    grid-gap: 1%;
    margin-bottom: 0;
  }

  @media only screen and (min-width: 1030px) {
    display: grid;
    grid-template-columns: 33% 33% 32%;
    grid-gap: 1%;
    margin-bottom: 80px;
  }
}


