@import '../../variables.scss';

.list-items-wrap {
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid $main-color;
  color: $main-color;
  position: relative;

  @media only screen and (min-width: 500px) {
    margin-bottom: 15px;
    margin-right: 15px;
  }
}

.first-item-call {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 200;
  font-size: 17px;
  line-height: 24px;
  color: $main-color;
  text-transform: uppercase;
  text-align: center;
  width: 200px;

  @media only screen and (min-width: 500px) {
    font-size: 20px;
    width: unset;
    line-height: unset;
  }
}

.list-items-content {
  display: flex;
}

.delete-item {
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 5px;

  svg {
    width: 18px;
  }
}

input[type="checkbox"]{
  width: 0;
  height: 0;
  opacity: 0;
}

.todo {
  position:relative;
  margin-left: 35px;
  margin-right: 25px;
  margin-bottom: 0;
  font-size: 14px;

  @media only screen and (min-width: 500px) {
    font-size: 16px;
  }

  &:after {
    content: '';
    position: absolute;
    transition: .25s ease-in-out;
    height: 25px;
    width: 25px;
    top: -3px;
    left: -37px;
    box-shadow: inset 0 0 0 1px #d8d8d8;
    border-radius: 3px;
  }
}

.todo:hover:after{
  cursor: pointer;
  box-shadow:inset 0 0 0 1px $secondary-color;
}
.todo .fa-check{
  position: absolute;
  left: -34px;
  top: -6px;
  width: 28px;
  height: 28px;
  color:transparent;
}

:checked + .todo{
  color:$secondary-color;
  text-decoration: line-through;
}

:checked + .todo:after{
  box-shadow:inset 0 0 0 2px $secondary-color;
}
:checked + .todo .fa-check{
  color:$secondary-color;
}