.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: linear-gradient(45deg, rgba(39, 45, 55, .7), rgba(32, 38, 46, 1)), url('../../assets/img/mountain.jpg');
  background-position: top;
  background-size: cover;
}

h1 {
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 10px;
  animation: fadeIn 5s ease-in-out;

  @media only screen and (min-width: 500px) {
    font-size: 100px;
    letter-spacing: 20px;
  }

  .fire {
    margin-right: 10px;
    height: 50px;
    animation: heartbeat 2.5s 5s infinite;

    @media only screen and (min-width: 500px) {
      margin-right: 20px;
      height: 90px;
    }
  }
}

h2 {
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 200;
  margin: 60px 10px 70px;
  text-align: center;
  animation: fadeIn 9s ease-in-out;

  @media only screen and (min-width: 500px) {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 10px;
    margin: 30px 0 60px;
  }
}

.main-btn {
  transform: translateY(1000px);
  animation: showUp 2s 2s ease-in-out forwards,
              fadeIn 2s 3s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

@keyframes showUp {
  0% { transform: translateY(1000px); }
  100% { transform: translateY(0); }
}

@keyframes heartbeat {
  0% { transform: scale( .95 ); }
  20% { transform: scale( 1.1 ); }
  40% { transform: scale( .95 ); }
  60% { transform: scale( 1.1 ); }
  80% { transform: scale( .95 ); }
  100% { transform: scale( .95 ); }
}